@charset "utf-8";
/* CSS Document */

:root{
  --primary-color: #1b5e20;
  --primary-light: #4c8c4a
}

body{
  min-width: 295px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

header{
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.logo{
  height: 48px;
  background-color: var(--primary-color);
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
  padding: 6px;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5;
  width: max-content;
}

header h1{
  margin: 0;
  height: auto;
}

#maincontent{
  margin-top: 48px;
  height: calc(100vh - 96px);
  z-index: -1;
}

#map-container{
  width: 100%;
}

#map {
  height: 400px;
  width: 100vw;
  background-color: #ccc;
}

.filter-options{
  margin-top: 48px;
}

footer {
  height: 48px;
  width: 100%;
  background-color: var(--primary-light);
  color: #ffffff;
  text-align: center;
  position: fixed;
  margin-top: calc(100vh - 48px);
  padding: 12px;
}

footer a {
  color: #ffca28;
  text-decoration: none;
  padding: 0 12px;
  line-height: 1.5;

}
footer #link{
  float: left;
}

footer #burger{
  float: right;
  padding: 0 24px;
}